<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Surbhi Kukreti" />
    <meta name="description" content="image component" />

    <link rel="stylesheet" href="/styleGuide/util.css" />
    <link rel="stylesheet" href="/styleGuide/main.css" />
    <link rel="stylesheet" href="./image.css" />

    <link rel="stylesheet" href="/prism/prism.css" />
    <script src="/prism/prism.js" defer></script>
    <title>Image</title>
  </head>
  <body>
    <h1>responsive images</h1>

    <div class="show-case">
      <img
        src="./media/image2.jpg"
        alt="image can't be
      loaded"
        class="responsive-img"
      />
    </div>
    <pre><code class="language-markup">
      <img src="./media/image2.jpg" alt="beach" class="responsive-img" />
    </code></pre>

    <div class="show-case">
      <img
        src="./media/image1.jpg"
        alt="sunset"
        class="responsive-img circle"
      />
    </div>
    <pre><code class="language-markup">
      <img src="./media/image1.jpg" alt="sunset" class="responsive-img circle" />
    </code></pre>
  </body>
</html>
