@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

.icon {
  height: 2rem;
}

.badge {
  display: inline-block;
  position: relative;
  bottom: 1.3rem;
  right: 1rem;
  border-radius: 100%;
  background-color: var(--red);
  color: var(--white-dull);
  height: 0.9rem;
  width: 0.9rem;
  text-align: center;
  line-height: 0.9rem;
  font-size: 0.6rem;
  font-weight: bold;
}

.avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.avatar-badge {
  display: inline-block;
  padding: 0.35rem;
  position: relative;
  bottom: 5%;
  right: 30%;
  border-radius: 50%;
}

.blue {
  background-color: var(--blue-pr);
}
.red {
  background-color: var(--red);
}
.green {
  background-color: var(--green-wp);
}
