@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

.icon {
  height: 2.5rem;
}

.badge {
  display: inline-block;
  position: relative;
  bottom: 1.8rem;
  right: 1.2rem;
  border-radius: 100%;
  color: var(--white-dull);
  height: 1.2rem;
  width: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  font-size: var(--fs-xs);
  font-weight: bold;
}

.avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.avatar-badge {
  display: inline-block;
  padding: 0.35rem;
  position: relative;
  bottom: 5%;
  right: 30%;
  border-radius: 50%;
}

.bg-blue {
  background-color: var(--blue-pr);
}
.bg-red {
  background-color: var(--red);
}
.green {
  background-color: var(--green-wp);
}
