<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Surbhi Kukreti" />
    <meta name="description" content="badge component" />
    <link rel="stylesheet" href="/components/badges/badges.css" />
    <link rel="stylesheet" href="/components/avatar/avatar.css" />
    <link rel="stylesheet" href="/styleGuide/util.css" />
    <link rel="stylesheet" href="/styleGuide/main.css" />

    <link rel="stylesheet" href="/prism/prism.css" />
    <script src="/prism/prism.js" defer></script>

    <title>Badge</title>
  </head>
  <body>
    <h3>1.Icons with badges</h3>
    <div class="showcase-div">
      <div>
        <img
          src="./iconSVG/notification.svg"
          alt="notification_icon"
          class="icon"
        />
        <span class="badge">26</span>
      </div>
      <div>
        <img src="./iconSVG/message.svg" alt="message_icon" class="icon" />
        <span class="badge">18</span>
      </div>
      <div>
        <img src="./iconSVG/email.svg" alt="email_icon" class="icon" />
        <span class="badge blue">9</span>
      </div>
      <div>
        <img src="./iconSVG/cart.svg" alt="cart_icon" class="icon" />
        <span class="badge">13</span>
      </div>
    </div>

    <pre><code class="language-markup"> 
      <div>
        <img src="./iconSVG/notification.svg" alt="notification_icon" class="icon" />
        <span class="badge">26</span>
      </div>
    </code></pre>
    <p></p>

    <h3>2.Images with badges</h3>

    <div class="showcase-div">
      <div>
        <img src="./avatarIMG/dog1.jpg" alt="avatar_image" class="avatar" />
        <span class="avatar-badge green"></span>
      </div>
      <div>
        <img src="./avatarIMG/bunny1.jpg" alt="avatar_image" class="avatar" />
        <span class="avatar-badge red"></span>
      </div>
      <div>
        <img src="./avatarIMG/cat1.jpg" alt="avatar_image" class="avatar" />
        <span class="avatar-badge blue"></span>
      </div>
    </div>
    <pre><code class="language-markup"> 
      <div>
        <img src="./avatarIMG/dog1.jpg" alt="avatar_image" class="avatar" />
        <span class="avatar-badge green"></span>
      </div>
    </code></pre>
  </body>
</html>
