.col {
  display: grid;
  align-items: center;
  padding-left: var(--spacing-sm);
  height: 2.5rem;
  border: 1px solid var(--gray-dark);
}

.grid-col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-self: end; */
}

.grid-col3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-col4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.center-align {
  align-self: center;
}

.bottom-align {
  align-self: end;
}

.center-grid {
  align-items: center;
  justify-content: center;
}
