/*=============================================
    #Variables
=============================================*/

/**
 * TABLE OF CONTENTS
 * 
 * COLORS
 * Brand colors...................These are the main brand colors. They will be used the most
 * Neutral colors.................White and black, gray scale, secondary colors.
 * Utility colors.................Other colors to represent states: info, warning, success, etc.
 * 
 * TYPOGRAPHY
 * Font families..................The fonts used in the design system.
 * Sizes..........................Font sizing for body text, paragraphs, inputs
 * Heading sizes..................Font sizing for page headings
 * Font weights...................Font weights
 * Line Height....................Line Heights for text
 *
 * BREAKPOINTS
 * Breakpoints....................Global responsive breakpoints definitions.
 *
 * SPACING
 * Spacing........................Global fixed set of spacing variables
 *
 * SHADOW
 * Shadow........................Global fixed Shadows
 */

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf");
}

/*=============================================
=                  Colors                     =
=============================================*/

:root {
  /* Brand Colors */

  --primary-col: #5ece7b;
  --primary-col-light: #9ee2b0;

  --dark: #1d1f22;
  --dark-light: #737680;

  /* Neutral Colors */

  --gray: #4e4f50;
  --gray-light: #a6a9b4;

  --white: #fff;
  --white-dark: #f1f2f3;

  /* Utility colors */
  --green: #23bd4c;
  --green-light: #9ee2b0;
  --green-wp: #00e676;

  --red: #ff0000ec;
  --red-light: #e4777b;

  --blue: #0468db;
  --blue-light: #8fbbec;
  --blue-pr: #0f79af;

  /*=====  End of Colors  ======*/

  /*=============================================
  =                Typography                   =
  =============================================*/

  /**
   *
   * 1) The playfair font. We'll use this for headings mostly.
   *     https:/*fonts.google.com/specimen/Playfair+Display
   *
   * 2) The raleway font. We'll use this for the body text.
   *     https:/*fonts.google.com/specimen/Raleway
   */

  /* Font families */

  --segoe: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* 1 */
  /* --nunito: "Raleway", "HelveticaNeue", "Helvetica", sans-serif; 2 */
  --nunito: "Nunito", sans-serif;

  /* Font sizes */

  --fs-xl: 3rem; /* 64px */
  --fs-l: 2rem; /* 32px */
  --fs-m: 1.5rem; /* 24px */
  --fs-s: 1rem; /* 16px */
  --fs-xs: 0.5rem; /* 8px */

  /* Heading font sizes */
  --h-1: 3rem; /* 64px */
  --h-2: 2rem; /* 32px */
  --h-3: 1.5rem; /* 24px */
  --h-4: 1rem; /* 16px */
  --h-5: 0.5rem; /* 8px */
  --h-6: 0.5rem; /* 8px */

  /* Font weights */

  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  /* Line Height */

  --lh-xl: 4rem; /* 64px */
  --lh-l: 2.5rem; /* 40px */
  --lh-m: 2rem; /* 32px */
  --lh-s: 1.5rem; /* 24px */
  --lh-xs: 1rem; /* 16px */

  /*=====  End of Typography  ======*/

  /*=============================================
  =            Breakpoints                      =
  =============================================*/

  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */

  /*=====  End of Breakpoints  ======*/

  /*=============================================
  =            Spacing                          =
  =============================================*/

  --spacing-none: 0rem;
  --spacing-xxxs: 0.125rem; /* 2px */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 1.5rem; /* 24px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 2.5rem; /* 40px */
  --spacing-xxl: 4rem; /* 64px */
  --spacing-xxxl: 5rem; /* 80px */

  /*=====  End of Spacing  ======*/

  /*=============================================
  =            Shadow                          =
  =============================================*/

  --shadows-md: 0px 4px 11px rgba(157, 157, 157, 0.21);

  /*=====  End of Shadow  ======*/
}
