@import url(/home-page/homepage.css);
@import url(/halloUi.css);
@import url(/components/navigation/navigation.css);
@import url(/components/text\ Utilities/textUtil.css);

body {
  font-family: var(--nunito);
}

.mg-xs {
  margin: var(--spacing-2xs);
}
/* xs- 0.5rem */

.mg-s {
  margin: var(--spacing-sm);
}
/* sm- 1rem */

.mg-m {
  margin: var(--spacing-xl);
}
/* xl- 2rem */

.mg-left {
  margin-left: var(--spacing-2xs);
}

.pd-s {
  padding: 1rem;
}

.pd-m {
  padding: 2rem;
}

.pd-lg {
  padding: 3rem;
}

.text-center {
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gap-md {
  gap: var(--spacing-md);
}

.gap-xl {
  gap: var(--spacing-xl);
}

.marg-un {
  margin: unset;
}

.marg-un-left {
  margin-left: unset;
}

/* colors */

.color-gp {
  background-color: var(--green-pastel);
}

.color-rp {
  background-color: var(--red-pastel);
}

.color-yp {
  background-color: var(--yellow-pastel);
}

.color-bp {
  background-color: var(--blue-pastel);
}

.color-bl {
  background-color: var(--blue-light);
}
.color-skyblu {
  /* background-color: #97e7ff94; */
  /* background-color: #1bb4de4d; */
}

.text-col-blue {
  color: var(--blue-pr);
}

.text-col-navy {
  color: #04195b;
}

/* @media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} */
