<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./button.css" />
    <link rel="stylesheet" href="/components/avatar/avatar.css" />
    <link rel="stylesheet" href="/components/alert/alert.css" />
    <link rel="stylesheet" href="/styleGuide/main.css" />
    <link rel="stylesheet" href="/styleGuide/util.css" />

    <title>Button</title>
  </head>
  <body>
    <h3>Basic buttons without border</h3>
    <div class="showcase-div">
      <button class="solid-btn clr-bl m">Primary</button>
      <button class="solid-btn clr-gl m">Secondary</button>
      <button class="solid-btn clr-rl m">Danger</button>
    </div>

    <pre><code class="language-markup"></code></pre>

    <h3>Buttons with different sizes</h3>
    <div class="showcase-div">
      <button class="solid-btn clr-bl s">Primary</button>
      <button class="solid-btn clr-gl m">Secondary</button>
      <button class="solid-btn clr-rl l">Danger</button>
    </div>
    <pre><code class="language-markup"></code></pre>


    <h3>outlined buttons</h3>
    <div class="showcase-div">
      <button class="outline-btn outline-blue m">Primary</button>
      <button class="outline-btn outline-green m">Secondary</button>
      <button class="outline-btn outline-red m">Danger</button>
    </div>
    <pre><code class="language-markup"></code></pre>


    <h3>Icon buttons</h3>
    <div class="showcase-div">
      <button class="icon-btn clr-bl m">
        Add to cart<img src="./Icons/cart.svg" alt="cart icon" />
      </button>
      <button class="icon-btn clr-gl m ">
        Wishlist<img src="./Icons/heart.svg" alt="heart icon" />
      </button>
      <button class="icon-btn clr-bl m ">
        Wishlist<img src="./Icons/heartFilled.svg" alt="heart icon" />
      </button>
      <button class="icon-btn clr-rl m ">
        Delete<img src="./Icons/deleteFilled.svg" alt="delete icon" />
      </button>
    </div>
    <pre><code class="language-markup"></code></pre>


    <h3>Buttons with link</h3>
    <div class="showcase-div">
      <a href="https://www.google.com/"></a>
      <button class="solid-btn clr-bl m">Google
      </button></a>
      <a href="https://neog.camp/level-one">
        <button class="solid-btn clr-gl m">Neog</button></a>
    </div>
    <pre><code class="language-markup"></code></pre>


    <h3>Floating action buttons</h3>
    <div class="showcase-div">
      <button class="float-btn flex-center">
        <img src="./Icons/add.svg" class="float-icon" alt="add icon">
      </button>
      <button class="float-btn flex-center">
        <img src="./Icons/heartFilled.svg" class="float-icon" alt="heart icon" />
      </button>
    <pre><code class="language-markup"></code></pre>

    </div>
  </body>
</html>
