<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Surbhi Kukreti" />
    <meta name="description" content="avatar component" />

    <link rel="stylesheet" href="./avatar.css" />
    <link rel="stylesheet" href="/styleGuide/main.css" />
    <link rel="stylesheet" href="/styleGuide/util.css" />

    <link rel="stylesheet" href="/prism/prism.css" />
    <script src="/prism/prism.js" defer></script>
    <title>Avatar</title>
  </head>
  <body>
    <header class="head">
      <div class="logo">
        <h1 class="logo0 marg-un big-text">haLLo</h1>
        <h1 class="logo1 marg-un">Ui</h1>
      </div>
      <li class="search">
        <input type="text" placeholder="Search..." class="search-bar" />
        <button class="search-btn">
          <img
            src="/home-page/media/search.svg"
            alt="search icon"
            class="search-icon"
          />
        </button>
      </li>
    </header>
    <main class="grid">
      <div class="col-1">
        <a href="/components/avatar" class="comp-name"> Avatar</a>
        <a href="/components/badges" class="comp-name">Badge</a>
        <a href="/components/alert" class="comp-name">Alert</a>
        <a href="/components/button" class="comp-name">Button</a>
        <a href="/components/cards" class="comp-name">Cards</a>
        <a href="/components/image/" class="comp-name">Image</a>
        <a href="/components/input/" class="comp-name">Input</a>
        <a href="/components/text Utilities/" class="comp-name"
          >Text Utilities</a
        >
        <a href="/components/list/" class="comp-name">List</a>
        <a href="/components/navigation/" class="comp-name">Navigation</a>
        <a href="/components/modal/" class="comp-name">Modal</a>
        <a href="/components/snackbar/" class="comp-name">Snackbar</a>
        <a href="/components/rating/" class="comp-name">Rating</a>
        <a href="/components/grid/" class="comp-name">Grids</a>
      </div>

      <div class="col-2">
        <h1>Avatar</h1>

        <h3 class="h3">1.Avatar with curved edges</h3>
        <div class="showcase-div">
          <img src="./media/happyGirl.jpg" class="avatar-xl curved-avatar" />
          <img src="./media/happyGirl.jpg" class="avatar-l curved-avatar" />
          <img src="./media/happyGirl.jpg" class="avatar-m curved-avatar" />
          <img src="./media/happyGirl.jpg" class="avatar-s curved-avatar" />
        </div>

        <pre><code class="language-markup"> 
      <img src="./media/happyGirl.jpg" class="avatar-xl curved-avatar" />
      <img src="./media/happyGirl.jpg" class="avatar-l curved-avatar" />
      <img src="./media/happyGirl.jpg" class="avatar-m curved-avatar" />
      <img src="./media/happyGirl.jpg" class="avatar-s curved-avatar" />
    </code></pre>

        <h3>2.Avatar in circles</h3>
        <div class="showcase-div">
          <img src="./media/happyGirl.jpg" class="avatar-xl circle-avatar" />
          <img src="./media/happyGirl.jpg" class="avatar-l circle-avatar" />
          <img src="./media/happyGirl.jpg" class="avatar-m circle-avatar" />
          <img src="./media/happyGirl.jpg" class="avatar-s circle-avatar" />
        </div>

        <pre><code class="language-markup">
        <img src="./media/happyGirl.jpg" class="avatar-xl circle-avatar" />
        <img src="./media/happyGirl.jpg" class="avatar-l circle-avatar" />
        <img src="./media/happyGirl.jpg" class="avatar-m circle-avatar" />
        <img src="./media/happyGirl.jpg" class="avatar-s circle-avatar" />
    </code></pre>

        <h3>3.Avatar curved edges with badge</h3>
        <div class="showcase-div">
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-xl curved-avatar" />
            <span class="num-badge badge-xl badge-posi-cu">4</span>
          </div>
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-l curved-avatar" />
            <span class="num-badge badge-l badge-posi-cu">4</span>
          </div>
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-m curved-avatar" />
            <span class="num-badge badge-m badge-posi-cu">4</span>
          </div>
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-s curved-avatar" />
            <span class="num-badge badge-s badge-posi-s">8</span>
          </div>
        </div>

        <pre><code class="language-markup"> 
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-xl curved-avatar" />
        <span class="num-badge badge-xl badge-posi-cu">4</span>
      </div>
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-l curved-avatar" />
        <span class="num-badge badge-l badge-posi-cu">4</span>
      </div>
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-m curved-avatar" />
        <span class="num-badge badge-m badge-posi-cu">4</span>
      </div>
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-s curved-avatar" />
        <span class="num-badge badge-s badge-posi-s">8</span>
      </div>
      </code></pre>

        <h3>4.Avatar circled with badge</h3>
        <div class="showcase-div">
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-xl circle-avatar" />
            <span class="num-badge badge-xl badge-posi-ci">4</span>
          </div>
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-l circle-avatar" />
            <span class="num-badge badge-l badge-posi-ci">4</span>
          </div>
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-m circle-avatar" />
            <span class="num-badge badge-m badge-posi-ci">4</span>
          </div>
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-s circle-avatar" />
            <span class="num-badge badge-s badge-posi-s">4</span>
          </div>
        </div>

        <pre><code class="language-markup">
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-xl circle-avatar" />
        <span class="num-badge badge-xl badge-posi-ci">4</span>
      </div>
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-l circle-avatar" />
        <span class="num-badge badge-l badge-posi-ci">4</span>
      </div>
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-m circle-avatar" />
        <span class="num-badge badge-m badge-posi-ci">4</span>
      </div>
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-s circle-avatar" />
        <span class="num-badge badge-s badge-posi-s">4</span>
      </div>
    </code></pre>

        <h3>5.Avatar curved edges with online badge</h3>
        <div class="showcase-div">
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-xl curved-avatar" />
            <span class="online-badge ob-xl ob-posi-xl"></span>
          </div>
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-l curved-avatar" />
            <span class="online-badge ob-l ob-posi-l"></span>
          </div>
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-m curved-avatar" />
            <span class="online-badge ob-m ob-posi-m"></span>
          </div>
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-s curved-avatar" />
            <span class="online-badge ob-s ob-posi-s"></span>
          </div>
        </div>

        <pre><code class="language-markup">
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-xl curved-avatar" />
        <span class="online-badge ob-xl ob-posi-xl"></span>
      </div>
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-l curved-avatar" />
        <span class="online-badge ob-l ob-posi-l"></span>
      </div>
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-m curved-avatar" />
        <span class="online-badge ob-m ob-posi-m"></span>
      </div>
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-s curved-avatar" />
        <span class="online-badge ob-s ob-posi-s"></span>
      </div>
    </code></pre>

        <h3>6.Avatar circled with online badge</h3>
        <div class="showcase-div">
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-xl circle-avatar" />
            <span class="online-badge ob-xl ob-posi-ci"></span>
          </div>
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-l circle-avatar" />
            <span class="online-badge ob-l ob-posi-ci"></span>
          </div>
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-m circle-avatar" />
            <span class="online-badge ob-m ob-posi-ci"></span>
          </div>
          <div class="avatar-div">
            <img src="./media/happyGirl.jpg" class="avatar-s circle-avatar" />
            <span class="online-badge ob-s ob-posi-ci"></span>
          </div>
        </div>

        <pre><code class="language-markup">
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-xl circle-avatar" />
        <span class="online-badge ob-xl ob-posi-ci"></span>
      </div>
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-l circle-avatar" />
        <span class="online-badge ob-l ob-posi-ci"></span>
      </div>
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-m circle-avatar" />
        <span class="online-badge ob-m ob-posi-ci"></span>
      </div>
      <div class="avatar-div">
        <img src="./media/happyGirl.jpg" class="avatar-s circle-avatar" />
        <span class="online-badge ob-s ob-posi-ci"></span>
      </div>
    </code></pre>
      </div>
    </main>
  </body>
</html>
