<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Surbhi Kukreti" />
    <meta name="description" content="card component" />

    <link rel="stylesheet" href="./cards.css" />
    <link rel="stylesheet" href="./cardsdoc.css" />

    <link rel="stylesheet" href="/import.css" />
   
     <script src="/prism/prism.js" defer></script>
    <script src="/home-page/home.js" defer></script>
    <title>Cards-HalloUi</title>
  </head>

  <body>

    <header class="head">
      <div class="logo">
        <a href="/home-page/" class="logo-anchor">
          <h1 class="logo0 marg-un big-text">ha</h1>
          <h1 class="logo0 marg-un big-text">LLo</h1>
          <h1 class="logo05 marg-un big-text">!</h1>
          <h1 class="logo1 marg-un">Ui</h1>
        </a>
      </div>
      <div class="search">
        <input type="text" placeholder="Search..." class="search-bar" />
        <button class="search-btn">
          <img src="/home-page/media/search.svg" alt="search icon" class="search-icon" />
        </button>
      </div>
      <div class="col-1-btn mg-xs"> <i class="fas fa-bars"></i> </div>
    
    </header>

    <main class="grid">
      <div class="col-1">
        <a href="/components/avatar" class="comp-name"> Avatar</a>
        <a href="/components/badges" class="comp-name">Badge</a>
        <a href="/components/alert" class="comp-name">Alert</a>
        <a href="/components/button" class="comp-name">Button</a>
        <a href="/components/cards" class="comp-name">Cards</a>
        <a href="/components/image/" class="comp-name">Image</a>
        <a href="/components/input/" class="comp-name">Input</a>
        <a href="/components/text Utilities/" class="comp-name"
          >Text Utilities</a
        >
        <a href="/components/list/" class="comp-name">List</a>
        <a href="/components/navigation/" class="comp-name">Navigation</a>
        <a href="/components/modal/" class="comp-name">Modal</a>
        <a href="/components/snackbar/" class="comp-name">Snackbar</a>
         <a href="/components/rating/" class="comp-name">Rating</a>
        <a href="/components/grid/" class="comp-name">Grids</a>
        <a href="/components/drawer/" class="comp-name">Drawer</a>
        <a href="/components/rangeSlider/" class="comp-name">Range Slider</a>

      </div>

    <div class="col-2">
<h1>Cards</h1>
<p>Cards are used everywhere and exhibit usecases for all kinds of purposes. HalloUi's card components represents a product card although you can remove one or more elements in the code to achieve different purposes.But if you're looking for a product card only, use the classes and elements as is to achieve the same results.</p>
    <div class="showcase-div">
      <div>
        <h3>Simple card with shadow</h3>
        <p>This is a basic card layout that has a shadow on its body so it looks distinct from all other elements.For these classes to work properly try to keep the html structure same or atleast add the concerned classes at the right places.</p> 
        <div class="card">
          <img src="./mugs.webp" alt="mug set" class="img-size" />
          <div class="pad-topleft">
            <h4 class="marg-un">GOODHOMES</h4>
            <span>4-Pcs Printed Bone China Cups Set</span>
          </div>
          <div class="pad-topleft">
            <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
          </div>
          <div class="btns">
            <button class="btn">
              <img src="./iconSvg/heartFilled.svg" />
            </button>
            <button class="btn"><img src="./iconSvg/cart.svg" /></button>
          </div>
        </div>
      </div>

      <pre><code class="language-markup">
 <div class="card">
   <img src="./mugs.webp" alt="mug set" class="img-size" />
   <div class="pad-topleft">
     <h4 class="marg-un">GOODHOMES</h4>
     <span>4-Pcs Printed Bone China Cups Set</span>
 </div>
   <div class="pad-topleft">
     <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
 </div>
   <div class="btns">
     <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
     <button class="btn"><img src="./iconSvg/cart.svg" /></button>
 </div>
   </div>
    </code></pre>

      <div>
        <h3>Card with badge</h3>
        <p>A card with badge conveys a piece of information to the user via the badge, in this card the badge can tell a user how the product has performed in the market.Many Leading brands use this kind of badges and tells the user information like if a product is a Bestseller or Trending etc.</p>
        <div class="card">
          <span class="card-badge">#1 Bestseller</span>
          <img src="./mugs.webp" alt="mug set" class="img-size" />
          <div class="pad-topleft">
            <h4 class="marg-un">GOODHOMES</h4>
            <span>4-Pcs Printed Bone China Cups Set</span>
          </div>
          <div class="pad-topleft">
            <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
          </div>
          <div class="btns">
            <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
            <button class="btn"><img src="./iconSvg/cart.svg" /></button>
          </div>
        </div>
      </div>

      <pre><code class="language-markup">
 <div class="card">
   <span class="card-badge">#1 Bestseller</span>
   <img src="./mugs.webp" alt="mug set" class="img-size" />
   <div class="pad-topleft">
     <h4 class="marg-un">GOODHOMES</h4>
     <span>4-Pcs Printed Bone China Cups Set</span>
   </div>
   <div class="pad-topleft">
     <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
   </div>
   <div class="btns">
     <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
     <button class="btn"><img src="./iconSvg/cart.svg" /></button>
   </div>
 </div>
      </code></pre>

      <div>
        <h3>Card with close icon</h3>
        <p>You usually open a card by clicking on it so it just becomes obvious to also close it back, in this card you get a cross button to close the card.</p>

        <div class="card">
          <span class="cross">
            <i class="fas fa-times"></i> </i> 
          </span>
          <img src="./mugs.webp" alt="mug set" class="img-size" />
          <div class="pad-topleft">
            <h4 class="marg-un">GOODHOMES</h4>
            <span>4-Pcs Printed Bone China Cups Set</span>
          </div>
          <div class="pad-topleft">
            <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
          </div>
          <div class="btns">
            <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
            <button class="btn"><img src="./iconSvg/cart.svg" /></button>
          </div>
        </div>
      </div>

      <pre><code class="language-markup">
<div class="card">
  <span class="cross">
    <i class="fas fa-times" style="font-size: 1.2rem"> </i>
  </span>
  <img src="./mugs.webp" alt="mug set" class="img-size" />
  <div class="pad-topleft">
    <h4 class="marg-un">GOODHOMES</h4>
    <span>4-Pcs Printed Bone China Cups Set</span>
  </div>
  <div class="pad-topleft">
    <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
  </div>
  <div class="btns">
    <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
    <button class="btn"><img src="./iconSvg/cart.svg" /></button>
  </div>
</div>
      </code></pre>

      <div>
        <h3>Card with text overlay</h3>
        <p>Card with text overlay conveys meaningful messages to user, it can also be used to give styling to an element.In ecommerce it is used to represent out of stock items. Here the card overlay text is only the product name.</p>
        <div class="card text-overlay-card">
          <img src="./mugs.webp" alt="mug set" class="img-size" />
          <div class="text-overlay pad-topleft">
            <h4 class="marg-un">GOODHOMES</h4>
            <span>4-Pcs Printed Bone China Cups Set</span>
          </div>
          <div class="pad-topleft">
            <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
          </div>
          <div class="btns">
            <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
            <button class="btn"><img src="./iconSvg/cart.svg" /></button>
          </div>
        </div>
      </div>

      <pre><code class="language-markup">
<div class="card text-overlay-card">
  <img src="./mugs.webp" alt="mug set" class="img-size" />
  <div class="text-overlay pad-topleft">
    <h4 class="marg-un">GOODHOMES</h4>
    <span>4-Pcs Printed Bone China Cups Set</span>
  </div>
  <div class="pad-topleft">
    <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
  </div>
  <div class="btns">
    <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
    <button class="btn"><img src="./iconSvg/cart.svg" /></button>
  </div>
</div>
      </code></pre>

      <div>
        <h3>Card with only text</h3>
        <p>Only text cards are use to represent textual knowledge to the user who asked for it. </p>
        <div class="text-only card">
          <div class="pad-topleft">
            <h4 class="marg-un">GOODHOMES</h4>
            <span>4-Pcs Printed Bone China Cups Set</span>
            <strong> PRODUCT DETAILS</strong>
            <p class="marg-un">
              Pattern: Printed Finish: Glossy Material: Bone China Material &
              Care Bone China Wipe with a clean, dry cloth to remove dust
            </p>
          </div>
          <div class="pad-topleft">
            <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
          </div>
        </div>
      </div>

      <pre><code class="language-markup">
<div class="text-only card">
  <div class="pad-topleft">
    <h4 class="marg-un">GOODHOMES</h4>
    <span>4-Pcs Printed Bone China Cups Set</span>
    <strong> PRODUCT DETAILS</strong>
    <p class="marg-un">
      Pattern: Printed Finish: Glossy Material: Bone China Material & Care
      Bone China Wipe with a clean, dry cloth to remove dust
    </p>
  </div>
  <div class="pad-topleft">
    <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
  </div>
</div>
      </code></pre>

      <div>
        <h3>Horizontal card</h3>

        <p>If you're building a full blown ecommerce web application only the vertical card wont suit all your purposes thus comes the horizontal card in view.Horizontal cards can be used for mobile developement purposes as well as to describe a different domain. </p>
        <div class="hrz-card">
          <img src="./mugs.webp" alt="mug set" class="hrz-img-size"/>
          <div>
            <div class="pad-topleft">
              <h4 class="marg-un">GOODHOMES</h4>
              <span>4-Pcs Printed Bone China Cups Set</span>
            </div>
            <div class="pad-topleft">
              <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
            </div>
            <div class="btns">
              <button class="btn">
                <img src="./iconSvg/heartFilled.svg" />
              </button>
              <button class="btn"><img src="./iconSvg/cart.svg" /></button>
            </div>
          </div>
        </div>
      </div>

<pre><code class="language-markup">
<div class="hrz-card">
  <img src="./mugs.webp" alt="mug set" class="hrz-img-size" />
   <div class="pad-topleft">
    <div class="pad-topleft" >
      <h4 class="marg-un">GOODHOMES</h4>
      <span>4-Pcs Printed Bone China Cups Set</span>
    </div>
    <div class="pad-topleft">
      <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
    </div>
    <div class="btns">
      <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
      <button class="btn"><img src="./iconSvg/cart.svg" /></button>
    </div>
  </div>
</div>
</code></pre>


    </div>
    </main>
    <footer class="hui-footer">
      <ul class="hui-footer-links">
        <li class="hui-footer-link">
          <a href="https://github.com/Surbhi84" class="hui-footer-icon">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="hui-footer-link">
          <a href="https://medium.com/@subuhikukreti" class="hui-footer-icon">
            <i class="fab fa-medium-m"></i>
          </a>
        </li>
        <li class="hui-footer-link">
          <a
            href="https://www.linkedin.com/in/surbhi-kukreti-a91b0b163"
            class="hui-footer-icon"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
     

      <div id="legacyText">© 2022 | Surbhi Kukreti</div>
    </footer>
  </body>
</html>
