<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Surbhi Kukreti" />
    <meta name="description" content="card component" />

    <link rel="stylesheet" href="./cards.css" />
    <link rel="stylesheet" href="./cardsdoc.css" />

    <link rel="stylesheet" href="/import.css" />
   
    <script src="/prism/prism.js" defer></script>
    <title>Cards-HalloUi</title>
  </head>

  <body>

    <header class="head">
      <div class="logo">
        <a href="/home-page/" class="logo-anchor">
          <h1 class="logo0 marg-un big-text">ha</h1>
          <h1 class="logo0 marg-un big-text">LLo</h1>
          <h1 class="logo05 marg-un big-text">!</h1>
          <h1 class="logo1 marg-un">Ui</h1>
        </a>
      </div>
      <li class="search">
        <input type="text" placeholder="Search..." class="search-bar" />
        <button class="search-btn">
          <img src="/home-page/media/search.svg" alt="search icon" class="search-icon" />
        </button>
      </li>
    </header>

    <main class="grid">
      <div class="col-1">
        <a href="/components/avatar" class="comp-name"> Avatar</a>
        <a href="/components/badges" class="comp-name">Badge</a>
        <a href="/components/alert" class="comp-name">Alert</a>
        <a href="/components/button" class="comp-name">Button</a>
        <a href="/components/cards" class="comp-name">Cards</a>
        <a href="/components/image/" class="comp-name">Image</a>
        <a href="/components/input/" class="comp-name">Input</a>
        <a href="/components/text Utilities/" class="comp-name"
          >Text Utilities</a
        >
        <a href="/components/list/" class="comp-name">List</a>
        <a href="/components/navigation/" class="comp-name">Navigation</a>
        <a href="/components/modal/" class="comp-name">Modal</a>
        <a href="/components/snackbar/" class="comp-name">Snackbar</a>
        <a href="/components/rating/" class="comp-name">Rating</a>
        <a href="/components/grid/" class="comp-name">Grids</a>
      </div>

    <div class="col-2">
<h1>Cards</h1>
    <div class="showcase-div">
      <div>
        <h3>Simple card with shadow</h3>
        <div class="card">
          <img src="./mugs.webp" alt="mug set" class="img-size" />
          <div class="pad-topleft">
            <h4 class="marg-un">GOODHOMES</h4>
            <span>4-Pcs Printed Bone China Cups Set</span>
          </div>
          <div class="pad-topleft">
            <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
          </div>
          <div class="btns">
            <button class="btn">
              <img src="./iconSvg/heartFilled.svg" />
            </button>
            <button class="btn"><img src="./iconSvg/cart.svg" /></button>
          </div>
        </div>
      </div>

      <pre><code class="language-markup">
    <div class="card">
      <img src="./mugs.webp" alt="mug set" class="img-size" />
      <div class="pad-topleft">
        <h4 class="marg-un">GOODHOMES</h4>
        <span>4-Pcs Printed Bone China Cups Set</span>
      </div>
      <div class="pad-topleft">
        <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
      </div>
      <div class="btns">
        <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
        <button class="btn"><img src="./iconSvg/cart.svg" /></button>
      </div>
    </div>
    </code></pre>

      <div>
        <h3>Card with badge</h3>
        <div class="card">
          <span class="card-badge">#1 Bestseller</span>
          <img src="./mugs.webp" alt="mug set" class="img-size" />
          <div class="pad-topleft">
            <h4 class="marg-un">GOODHOMES</h4>
            <span>4-Pcs Printed Bone China Cups Set</span>
          </div>
          <div class="pad-topleft">
            <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
          </div>
          <div class="btns">
            <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
            <button class="btn"><img src="./iconSvg/cart.svg" /></button>
          </div>
        </div>
      </div>

      <pre><code class="language-markup">
      <div class="card">
        <span class="card-badge">#1 Bestseller</span>
        <img src="./mugs.webp" alt="mug set" class="img-size" />
        <div class="pad-topleft">
          <h4 class="marg-un">GOODHOMES</h4>
          <span>4-Pcs Printed Bone China Cups Set</span>
        </div>
        <div class="pad-topleft">
          <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
        </div>
        <div class="btns">
          <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
          <button class="btn"><img src="./iconSvg/cart.svg" /></button>
        </div>
      </div>
      </code></pre>

      <div>
        <h3>Card with close icon</h3>
        <div class="card">
          <span class="cross">
            <i class="fas fa-times"></i> </i> 
          </span>
          <img src="./mugs.webp" alt="mug set" class="img-size" />
          <div class="pad-topleft">
            <h4 class="marg-un">GOODHOMES</h4>
            <span>4-Pcs Printed Bone China Cups Set</span>
          </div>
          <div class="pad-topleft">
            <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
          </div>
          <div class="btns">
            <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
            <button class="btn"><img src="./iconSvg/cart.svg" /></button>
          </div>
        </div>
      </div>

      <pre><code class="language-markup">
        <div class="card">
          <span class="cross">
            <i class="fas fa-times" style="font-size: 1.2rem"> </i>
          </span>
          <img src="./mugs.webp" alt="mug set" class="img-size" />
          <div class="pad-topleft">
            <h4 class="marg-un">GOODHOMES</h4>
            <span>4-Pcs Printed Bone China Cups Set</span>
          </div>
          <div class="pad-topleft">
            <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
          </div>
          <div class="btns">
            <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
            <button class="btn"><img src="./iconSvg/cart.svg" /></button>
          </div>
        </div>
      </code></pre>

      <div>
        <h3>Card with text overlay</h3>
        <div class="card text-overlay-card">
          <img src="./mugs.webp" alt="mug set" class="img-size" />
          <div class="text-overlay pad-topleft">
            <h4 class="marg-un">GOODHOMES</h4>
            <span>4-Pcs Printed Bone China Cups Set</span>
          </div>
          <div class="pad-topleft">
            <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
          </div>
          <div class="btns">
            <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
            <button class="btn"><img src="./iconSvg/cart.svg" /></button>
          </div>
        </div>
      </div>

      <pre><code class="language-markup">
        <div class="card text-overlay-card">
          <img src="./mugs.webp" alt="mug set" class="img-size" />
          <div class="text-overlay pad-topleft">
            <h4 class="marg-un">GOODHOMES</h4>
            <span>4-Pcs Printed Bone China Cups Set</span>
          </div>
          <div class="pad-topleft">
            <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
          </div>
          <div class="btns">
            <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
            <button class="btn"><img src="./iconSvg/cart.svg" /></button>
          </div>
        </div>
      </code></pre>

      <div>
        <h3>Card with only text</h3>
        <div class="text-only card">
          <div class="pad-topleft">
            <h4 class="marg-un">GOODHOMES</h4>
            <span>4-Pcs Printed Bone China Cups Set</span>
            <strong> PRODUCT DETAILS</strong>
            <p class="marg-un">
              Pattern: Printed Finish: Glossy Material: Bone China Material &
              Care Bone China Wipe with a clean, dry cloth to remove dust
            </p>
          </div>
          <div class="pad-topleft">
            <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
          </div>
        </div>
      </div>

      <pre><code class="language-markup">
        <div class="text-only card">
          <div class="pad-topleft">
            <h4 class="marg-un">GOODHOMES</h4>
            <span>4-Pcs Printed Bone China Cups Set</span>
            <strong> PRODUCT DETAILS</strong>
            <p class="marg-un">
              Pattern: Printed Finish: Glossy Material: Bone China Material & Care
              Bone China Wipe with a clean, dry cloth to remove dust
            </p>
          </div>
          <div class="pad-topleft">
            <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
          </div>
        </div>
      </code></pre>

      <div>
        <h3>Horizontal card</h3>
        <div class="hrz-card">
          <img src="./mugs.webp" alt="mug set" class="hrz-img-size"/>
          <div>
            <div class="pad-topleft">
              <h4 class="marg-un">GOODHOMES</h4>
              <span>4-Pcs Printed Bone China Cups Set</span>
            </div>
            <div class="pad-topleft">
              <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
            </div>
            <div class="btns">
              <button class="btn">
                <img src="./iconSvg/heartFilled.svg" />
              </button>
              <button class="btn"><img src="./iconSvg/cart.svg" /></button>
            </div>
          </div>
        </div>
      </div>

      <pre><code class="language-markup">
          <div class="hrz-card">
            <img src="./mugs.webp" alt="mug set" class="hrz-img-size" />
            <div class="pad-topleft">
              <div class="pad-topleft" >
                <h4 class="marg-un">GOODHOMES</h4>
                <span>4-Pcs Printed Bone China Cups Set</span>
              </div>
              <div class="pad-topleft">
                <strong> Rs. 749 </strong> <s>999</s> <span>25% OFF</span>
              </div>
              <div class="btns">
                <button class="btn"><img src="./iconSvg/heartFilled.svg" /></button>
                <button class="btn"><img src="./iconSvg/cart.svg" /></button>
              </div>
            </div>
          </div></div>
        </code></pre>

    </div>

    </div>
    </main>
    <footer class="hui-footer">
      <ul class="hui-footer-links">
        <li class="hui-footer-link">
          <a href="https://github.com/Surbhi84" class="hui-footer-icon">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="hui-footer-link">
          <a href="https://medium.com/@subuhikukreti" class="hui-footer-icon">
            <i class="fab fa-medium-m"></i>
          </a>
        </li>
        <li class="hui-footer-link">
          <a
            href="https://www.linkedin.com/in/surbhi-kukreti-a91b0b163"
            class="hui-footer-icon"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
      <!-- <div id="legacyText" class="text-col-navy">made by Surbhi Kukreti</div> -->

      <div id="legacyText">© 2022 | Surbhi Kukreti</div>
    </footer>
  </body>
</html>
