<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Surbhi Kukreti" />
    <meta name="description" content="list component" />

    <link rel="stylesheet" href="/styleGuide/util.css" />
    <link rel="stylesheet" href="/styleGuide/main.css" />

    <link rel="stylesheet" href="./list.css" />
    <link rel="stylesheet" href="/components/text Utilities/textUtil.css" />

    <link rel="stylesheet" href="/prism/prism.css" />
    <script src="/prism/prism.js" defer></script>
    <title>List</title>
  </head>
  <body>
    <strong class="heading">Normal List</strong>
    <div class="text-container">
      <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
      </ol>
    </div>

    <strong class="heading">Stacked List</strong>
    <div class="text-container">
      <ul class="stacked-list">
        <li class="lis-item">Item 1</li>
        <li class="lis-item">Item 2</li>
        <li class="lis-item">Item 3</li>
        <li class="lis-item">Item 4</li>
      </ul>
    </div>

    <strong class="heading">Stacked List with gap</strong>
    <div class="text-container">
      <ul class="stacked-list">
        <li class="lis-item1">Item 1</li>
        <li class="lis-item1">Item 2</li>
        <li class="lis-item1">Item 3</li>
        <li class="lis-item1">Item 4</li>
      </ul>
    </div>
  </body>
</html>
