.stacked-list {
  list-style: none;
  width: max-content;
}

.li-stack {
  padding: 0 var(--spacing-xs);
  margin-bottom: -1px;
  border: 0.1rem solid var(--gray-dark);
  text-align: center;
  border-radius: 2px;
  background-color: var(--blue-pastel);
}

.li-stack-gap {
  padding: 0 var(--spacing-xs);
  margin: 0.2rem;
  text-align: center;
  border-radius: 0.1rem;
  background-color: var(--blue-light);
}

.stack-list {
  list-style: none;
  width: max-content;
}

.li {
  padding: 0 var(--spacing-xs);
  border-bottom: 0.1rem solid var(--gray-dark);
}

.stack-list li:last-child {
  border-bottom: none;
}
