.showcase {
  border: 0.2rem solid var(--gray-dark);
  border-radius: 0.1rem;
  height: 20rem;
  width: 50rem;
  margin: var(--spacing-sm) 0;
}

@media screen and (max-width: 768px) {
  .showcase {
    height: 20rem;
    width: 90vw;
    font-size: var(--fs-xxs);
    overflow: scroll;
  }
  .search-bar {
    padding: 0;
    width: 4rem;
  }
  .nav-head {
    padding: var(--spacing-2xs) var(--spacing-xs);
  }
  .nav-links {
    gap: var(--spacing-sm);
  }
}
