.nav-head {
  display: flex;

  align-items: center;
  padding: 0.5rem 2rem 0.5rem;
  max-width: 100%;
  overflow-x: scroll;
}

.nav-links {
  list-style: none;
  display: flex;

  align-items: center;
  gap: var(--spacing-l);
  margin-left: auto;
}

.nav-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--black);
  align-self: center;
}

.nav-icon {
  height: 1rem;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 0.5rem;
}

.search-bar {
  border: none;
  outline: none;
  padding: var(--spacing-xs);
  background-color: transparent;
}

.search-btn {
  border: none;
  background-color: transparent;
}
