<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Surbhi Kukreti" />
    <meta name="description" content="rating component" />

    <link rel="stylesheet" href="/styleGuide/util.css" />
    <link rel="stylesheet" href="/styleGuide/main.css" />

    <link rel="stylesheet" href="./rating.css" />

    <link rel="stylesheet" href="/prism/prism.css" />
    <script src="/prism/prism.js" defer></script>

    <title>Rating</title>
  </head>
  <body>
    <h3>Simple star rating</h3>
    <div class="rating-div">
      <input type="radio" name="rating" value="5" id="5" />
      <label class="star" for="5">&#9733;</label>

      <input type="radio" name="rating" value="4" id="4" />
      <label class="star" for="4">&#9733;</label>

      <input type="radio" name="rating" value="3" id="3" />
      <label class="star" for="3">&#9733;</label>

      <input type="radio" name="rating" value="2" id="2" />
      <label class="star" for="2">&#9733;</label>

      <input type="radio" name="rating" value="1" id="1" />
      <label class="star" for="1">&#9733;</label>
    </div>

    <pre><code class="language-markup">
<div class="rating-div">
 <input type="radio" name="rating" value="5" id="5" />
 <label class="star" for="5">&#9733;</label>

 <input type="radio" name="rating" value="4" id="4" />
 <label class="star" for="4">&#9733;</label>

 <input type="radio" name="rating" value="3" id="3" />
 <label class="star" for="3">&#9733;</label>

 <input type="radio" name="rating" value="2" id="2" />
 <label class="star" for="2">&#9733;</label>
 
 <input type="radio" name="rating" value="1" id="1" />
 <label class="star" for="1">&#9733;</label>
 </div>
    </code></pre>
  </body>
</html>
