.rating-div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 5rem;
  box-shadow: var(--shadows-md);
}

.radio-input {
  display: none;
}

.star-label {
  cursor: pointer;
  font-size: 2rem;
  color: var(--blue-pastel);
  /* color: gainsboro; */
}

input[type="radio"]:checked ~ label {
  color: var(--blue-pr);
}

.rating-div label:hover,
.rating-div label:hover ~ label {
  color: var(--blue-pr);
}
