body {
  font-family: var(--nunito);
}

.rating-div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 5rem;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: var(--shadows-md);
}

input {
  display: none;
}

label {
  cursor: pointer;
  font-size: 2rem;
  color: var(--blue-pastel);
  /* color: gainsboro; */
}

input[type="radio"]:checked ~ label {
  color: var(--blue-pr);
}

.rating-div label:hover,
.rating-div label:hover ~ label {
  color: var(--blue-pr);
}
