@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

.hui-footer {
  width: 100vw;
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.hui-footer-link {
  display: inline;
  list-style: none;
  margin: 0 var(--spacing-xs);
  font-size: 1.2rem;
  list-style: none;
}

.hui-footer-link > a {
  text-decoration: none;
  color: var(--blue-pr);
}

.hui-footer-links {
  text-align: center;
  padding-left: 0;
  margin: var(--spacing-2xs);
}
