@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url(/landing-page/footer.css);

body {
  box-sizing: border-box;
  font-family: var(--nunito);
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.landing-main {
  background-color: var(--blue-bg);
}

.wrapper {
  display: grid;
  grid-template-rows: minmax(10%, max-content) 1fr minmax(10%, max-content);
  min-height: 100vh;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-sm);
  box-shadow: var(--shadow-header);
}

.logo-anchor {
  text-decoration: none;
}

.logo {
  text-decoration: none;
  margin-left: 0%;
  width: 15rem;
}

.logo0 {
  display: inline-block;
  color: var(--sky-blue);
}
.logo05 {
  display: inline-block;
  color: var(--blue-pr);
}
.logo1 {
  display: inline-block;
  color: #000836;
  font-family: var(--nunito);
}

.main-btn {
  font-size: var(--fs-l);
  border: 0.2rem solid var(--blue-pr);
  border-radius: 1rem;
  padding: var(--spacing-md) var(--spacing-xl);
  margin: var(--spacing-md) 0;
  color: var(--sky-blue);
  background-color: var(--white);
  background-size: cover;
}

.main-btn:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

@media (max-width: 480px) {
  .welcome-text {
    padding: var(--spacing-md);
    margin: unset;
    width: 60%;
  }
}
