<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Surbhi Kukreti" />
    <meta name="description" content="modal component" />

    <link rel="stylesheet" href="/styleGuide/util.css" />
    <link rel="stylesheet" href="/styleGuide/main.css" />

    <link rel="stylesheet" href="./modal.css" />
    <link rel="stylesheet" href="/components/button/button.css" />

    <link rel="stylesheet" href="/prism/prism.css" />
    <script src="/prism/prism.js" defer></script>
    <title>Modal</title>
  </head>
  <body>
    <h3>A simple modal</h3>
    <div class="showcase">
      <div class="modal">
        <div class="title-div">
          <strong class="med-text">Modal title</strong>
          <span class="cross"><i class="fas fa-times"></i></span>
        </div>
        <p class="modal-body">Modal body goes here!</p>
        <div class="modal-btns">
          <button class="solid-btn btn-md color-rp">Close</button>
          <button class="solid-btn btn-md color-bp mg-left">Save change</button>
        </div>
      </div>
    </div>
    <pre><code class="language-markup">
  <div class="modal">
    <div class="title-div">
      <strong class="med-text">Modal title</strong>
      <span class="cross"><i class="fas fa-times"></i></span>
    </div>
    <p class="modal-body ">Modal body goes here!</p>
    <div class="modal-btns">
      <button class="solid-btn btn-md color-rp">Close</button>
      <button class="solid-btn btn-md color-bp mg-left">Save change</button>
    </div>
  </div>
</code></pre>
  </body>
</html>
