@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-xs);
  max-width: 30rem;
  padding: var(--spacing-xs);
  border-radius: 3px;
}

.notify {
  font-size: var(--fs-m);
}

.cross {
  margin-left: auto;
  color: var(--black);
  align-self: flex-start;
}

@media (max-width: 768px) {
  .alert {
    padding: var(--spacing-2xs);
    font-size: var(--fs-xs);
    gap: var(--spacing-2xs);
  }
  .notify {
    font-size: var(--fs-s);
  }
}
