<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Surbhi Kukreti" />
    <meta name="description" content="text utilities component" />

    <link rel="stylesheet" href="/styleGuide/util.css" />
    <link rel="stylesheet" href="/styleGuide/main.css" />

    <link rel="stylesheet" href="./textUtil.css" />

    <link rel="stylesheet" href="/prism/prism.css" />
    <script src="/prism/prism.js" defer></script>
    <title>Text Utilities</title>
  </head>
  <body>
    <div class="text-show">
      <div class="pad-left">
        <h3>Text Sizes</h3>
        <div class="text-container">
          <p class="vbig-text">Very Big Text</p>
          <p class="big-text">Big Text</p>
          <p class="med-text">Medium Text</p>
          <p class="small-text">small Text</p>
        </div>
        <pre><code class="language-markup">
      <p class="vbig-text">Very Big Text</p>
      <p class="big-text">Big Text</p>
      <p class="med-text">Medium Text</p>
      <p class="small-text">small Text</p>
    </code></pre>
      </div>

      <div class="pad-left">
        <h3>Text Weights</h3>
        <div class="text-container">
          <p class="med-text">Normal Text</p>
          <p class="bold-text med-text">Bold Text</p>
          <p class="light-text med-text">light Text</p>
        </div>
        <pre><code class="language-markup">
      <p class="med-text">Normal Text</p>
      <p class="bold-text med-text">Bold Text</p>
      <p class="light-text med-text">light Text</p>
    </code></pre>
      </div>

      <div class="pad-left">
        <h3>Text alignments</h3>
        <div class="text-container">
          <p class="text-justify">
            This is justified text i.e., Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Ducimus amet consectetur adipisicing elit. Ducimus
            quo harum animi rem atque hic ullam cumque consequuntur quas natus?
          </p>
          <p class="text-left">This is left aligned text!</p>
          <p class="text-center">This is centered text!</p>
          <p class="text-right">This is right aligned text!</p>
        </div>
        <pre><code class="language-markup">
        <p class="text-justify"> <!-- your text --> </p>
        <p class="text-left">This is left aligned text!</p>
        <p class="text-center">This is centered text!</p>
        <p class="text-right">This is right aligned text!</p>
      </code></pre>
      </div>

      <div class="pad-left">
        <h3>Grey text</h3>
        <div class="text-container">
          <p class="grey-text">This is grey text!</p>
        </div>
        <pre><code class="language-markup">
    <p class="grey-text">This is grey text!</p>
  </code></pre>
      </div>
    </div>
  </body>
</html>
