body {
  font-family: var(--nunito);
}

.text-show {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}

.pad-left {
  padding-left: var(--spacing-l);
}

.text-container {
  border: 2px solid var(--blue-pr);
  border-radius: 0.3rem;
  width: 50%;
  margin: var(--spacing-md);
}

.vbig-text {
  font-size: var(--fs-xxl);
}

.big-text {
  font-size: var(--fs-xl);
}
.med-text {
  font-size: var(--fs-m);
}

.small-text {
  font-size: var(--fs-xs);
}

.bold-text {
  font-weight: var(--fw-bold);
}

.light-text {
  font-weight: var(--fw-light);
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.grey-text {
  color: var(--grey);
}

p {
  margin: 1.5rem;
}

@media (max-width: 768px) {
  .text-show {
    align-items: center;
  }
  .text-container {
    width: 80%;
  }

  .vbig-text {
    font-size: var(--fs-xl);
  }
  .big-text {
    font-size: var(--fs-l);
  }
  .med-text {
    font-size: var(--fs-s);
  }
  .small-text {
    font-size: var(--fs-xxs);
  }
}
